*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --main: rgba(250, 128, 114, 1);
    --main-hover: rgba(250, 128, 114, .5);
    --nav-bg: rgb(250, 250, 250);
    --nav-bg-hover: #EEEEEE;
    --gray: rgb(83, 83, 83);
}

html, body {
    min-height: 100vh;
}

body {
    font-size: .9rem;

    font-family: 'Montserrat', sans-serif;
    display: grid;
    overflow: hidden;
    grid-template-rows: auto 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas:
        "header header"
        "nav wrapper"
}

header {
    grid-area: header;
    background-color: var(--main);
    color: white;

}

.header-links {
    display: flex;
    align-items: center;
    margin: auto 50px;
    padding: 6px 0px;

}

.header-links>* {
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 5px;
    display: inline-block;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
}

.burger {
    height: 1px;
    width: 15px;
    margin-bottom: 4px;
    background-color: white;
}

.home-icon {

    filter: invert(100%) sepia(0%) saturate(6%) hue-rotate(198deg) brightness(101%) contrast(101%);

}

.hd-link:hover {
    background-color: rgba(186, 31, 14, 0.5);
}

nav {
    grid-area: nav;
    /* max-width: 250px; */
    height: 100vh;

    background-color: var(--nav-bg);
    font-size: .9rem;

    transition: transform .3s ease-in-out;
}

nav.collapse {
    transform: translateX(-250px);
}


nav.collapse {
    left: 0px;
}

nav>* {
    cursor: pointer;

}

.nav-links {
    list-style: none;
    margin: 25px 0px 0px 50px;

}


.nav-link {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;
    border-radius: 5px;
    margin-right: 5px;

}

.nav-icon {
    margin-right: 10px;
    min-width: 15px;
}

.nav-link:hover {
    background-color: var(--nav-bg-hover);
}




.wrapper {
    grid-area: wrapper;
    max-width: 100vw;
    display: flex;
    justify-content: center;
    margin: 25px 50px;
    transition: transform .3s ease-in-out;

}

.todo-form {
    min-width: 600px;

}

.wrapper.collapse {
    transform: translateX(-250px);
}

form {
    min-height: 20px;
    display: flex;
    align-items: center;
    margin: 15px 0px;
}

form>* {
    margin: 0px 5px;
}

input {
    border: none;
    font-size: 1.5rem;
    min-width: 200px;
    font-family: inherit;
    padding: 10px 0px;
    cursor: pointer;
}

input::placeholder {
    font-size: .9rem;
}

input:focus {
    outline: none;

}

.submit-todo-btn {
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: white;
}

.submit-todo-btn:hover {
    background-color: var(--nav-bg-hover);
    border-radius: 50%;
}

.fa-plus {
    font-size: 1.5rem;
    font-weight: 100;
    background-color: none;
    pointer-events: none;
    cursor: not-allowed;
    color: var(--main);
}

/* Todo section */

.todo-list,
.header-links {
    list-style: none;
}

.todo {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 8px 0px;
    border-bottom: 1px solid var(--nav-bg-hover);
}

.todo-status {
    padding: 8px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    border: 1px solid var(--gray);
    cursor: pointer;
}

.todo-text {
    flex: 1;
    margin: 0px 10px 0px 0px;
    padding: 5px;

}

.todo-text.edit {
    border: none;
    border-left: 2px solid lightblue;
    outline-color: lightblue;
}

.remove-btn,
.edit-btn {
    cursor: pointer;
    border: none;
    padding: 5px;
    background-color: white;
    color: var(--gray);
}

.todo .fa-trash-can,
.todo .fa-pen-to-square {
    font-size: 1rem;
    pointer-events: none;
    cursor: not-allowed;

}

.remove-btn:hover,
.edit-btn:hover {
    color: var(--main);

}

@media  (max-width: 950px) {

    body {
        grid-template-columns: 200px 1fr;
    }

    .wrapper{
        min-width: 300px;

        margin: 25px 20px;
    }

    .todo-form {
        min-width: 400px;

    }



    }


@media (max-width: 600px) {

    body {
        grid-template-columns: 1fr;
        grid-template-rows: 45px 50px 1fr;
        grid-template-areas: 
        "header"
        "nav"
        "wrapper";

    }

    .header-links {
        margin: 0px 20px;
    }


    nav {
        max-height: 50px;
        display: flex;
        align-items: center;
        justify-content: center; 

    }

    .nav-links {
        margin: 0px;
        display: flex;
        min-width: 100vw;
        align-items: center;
        justify-content: center;
    }

    .nav-links > * {
        margin: 0px 20px;
    }


    .todo-form {
        min-width: 90%;
    }

    .todo-list {
        display: flex;
        flex-direction: column;
    }

}